.flex{
    display: flex;
    align-items: center;
}

.flex-justify{
    justify-content: space-between;
}

.cuerpo {
    width: 500px;
    height: 800px;
    margin: 0 auto;
    border:2px solid black;
    background-color: #575655;
}

.boxB {
    justify-content: flex-end;
}

.tamanoBotonZoom {
    width: 30px;
    height: 30px;
}

.tamanoBotonComando {
    height: 30px;
}

.estiloTabla {
    text-align: center;
}
